html, body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  bottom: 0;
}

@font-face {
  font-family: "Abril Fatface";
  src:
    local("Abril Fatface"),
    url("AbrilFatface-Regular.ttf") format("truetype");
}
